alembic==1.7.5
click==8.0.3
decorator==5.1.0
diskcache==5.2.1
dogpile.cache==1.1.4
Flask==1.1.2
Flask-Caching==1.10.1
Flask-Migrate==2.5.2
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.1
greenlet==1.1.2
importlib-metadata==4.8.2
importlib-resources==5.4.0
itsdangerous==2.0.1
Jinja2==3.0.3
Mako==1.1.5
MarkupSafe==2.0.1
pbr==5.7.0
psycopg2==2.8.4
SQLAlchemy==1.4.27
stevedore==3.5.0
Werkzeug==2.0.2
zipp==3.6.0
